.list {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(5,auto);
    gap: 1rem;
    margin-top: 1.5rem;
    position: relative;   
}

.list .listTitle {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-left: 50px;
    position: relative;
   
}

.list .wrappers {
    position: relative;
}
.list .wrappers .sliderArrow{
    
    width: 50px;
    color:blue;
    height: 50%;
    background-color: rgb(22,22,22,0.1);
    position: absolute;
    z-index: 99;
    top: 0;
    bottom: 0;
    margin-right: auto;
    cursor: pointer;
}
.list .wrappers .sliderArrow.left{
    left: 0;
   
}
.list .wrappers .sliderArrow.right{
    right:51%;
   
}

.list .wrappers .containers {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    gap: .7rem;  
    margin-left: 1rem;    
    transition: all 1s ease;
    margin-bottom: 1rem;
    
    
    
}