.listItem {
    display: grid;
    place-items: center;
    grid-template-columns: auto;
    color: white;
    background-color: #333;
    cursor: pointer;
    border-radius: 4%;
    position: relative;
    
    
   
    
}
.listItem:hover {
   
    display: grid;
    grid-template-columns: auto;
    border-radius: 2%;
    top: -12rem;
    position: absolute; 
    transition: .5s ease;
    background-color: #000;
   

}
.listItem img {
    
    height: 100%;
    border-radius: 4%;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    display: block;

}

.listItem img:hover {
    
    height: 120%;
    border-radius: 4%;
    margin: 0;
    padding: 0;
    display: block;
    
}

.listItem .itemInfo {
    display: flex;
    flex-direction: column; 
    padding: .2rem;
   
    margin: 0;
    padding: 0;
  
     
 }
 .listItem .itemInfo:hover {
    display: flex;
    flex-direction: column; 
    padding: .2rem;
  
    
     
 }
 .listItem .itemInfo .icons {
   
    display: flex;
    gap: .5rem;
    padding-left: .4rem;
    

}
.listItem .itemInfo .icon:hover{
    border: 2px solid blue;
    color: blue;
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 16px;  
    
    
}
.listItem .itemInfo .icons:hover  {
   
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: .5rem;
    border-radius: 50%;
    
}

.listItem .itemInfo .itemInfoTop{
    
    display: flex;
    gap: .5rem;
    padding-left: .4rem;
    gap: 1rem;

}
.listItem .itemInfo .itemInfoTop:hover{
    
    display: flex;
   
  
}
.listItem .itemInfo .itemInfoTop:hover > span {
    
    display: flex;
    margin-right: 1rem;
   
  
}
.listItem .itemInfo .desc {
    padding-left: .4rem;
}
.listItem .itemInfo .desc:hover {
    padding-left: .4rem;
    
}
.listItem .itemInfo .genre {
    
    display: flex;
    padding-left: .4rem;
}
.listItem .itemInfo .genre:hover {
    
    display: flex;
    color: blue;
    padding-left: .4rem;
    transition: .8s ease;
    margin-left: 1rem;
}